.Alerts{
    font-size: 150%;
    margin-left: 40px;
    margin-right: 40px;
}

.home{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 50px;
    color: #6D6D6D;
}

.home h2{
    margin-top: 7px;
    font-size: 30px;
    pointer-events: none;
}

.home svg{
    width: 27px;
    height: 27px;
}

.principal{
    display: flex;
    flex-direction: row;
    margin: 45px;
    margin-top: 15px;
    justify-content: space-between;
    gap: 20px;
}

.Access{
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.Access-div{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.Atajos{
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    height: 324px;
    width: 590px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    gap: 15px;
}

.Atajos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Atajos svg{
    width: 100px;
    height: 100px;
}

.Atajos button{
    height: 66px;
    width: 287px;
    border-radius: 80px;
    background-color: unset;
    border-width: 3px;
    border-color: #FFFFFF;
    border-style: solid;
    color: #FFFFFF;
    font-size: 26px;
}

.Events{
    height: 324px;
    max-width: 1480px;
    width: 100%;
    border-radius: 18px;
    background-color: rgba(10, 62, 210, 0.35);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 3px 3px rgba(79, 79, 80, 0.2);
}

.head-Events{
    background-color: #5C0D0D;
    display: flex;
    color: #FFFFFF;
    height: 82px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.Events-Body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow-y: auto;
    height: 318px;
    width: 100%;
}
.Events-Body::-webkit-scrollbar{
    width: 6px;
}

.Events-Body::-webkit-scrollbar-track{
    background: transparent;
    box-shadow: inset 0 0 5px #0A3ED2;
}

.Events-Body::-webkit-scrollbar-thumb{
    background-color: #5C0D0D;
    border-radius: 6px;
    transition: backgroud 0.3s ease;
}

.head-Events h2{
    margin-top: 5px;
    font-size: 25px;
}

.Noti{
    height: 688px;
    width: 540px;
    border-radius: 18px;
    background-color: rgba(10, 62, 210, 0.35);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 3px 3px rgba(79, 79, 80, 0.2);
}

.head-noti{
    background-color: #5C0D0D;
    display: flex;
    color: #FFFFFF;
    height: 72px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.Noti-Body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow-y: auto;
    height: 548px;
    width: 100%;
}

.Noti-Body::-webkit-scrollbar{
    width: 6px;
}

.Noti-Body::-webkit-scrollbar-track{
    background: transparent;
    box-shadow: inset 0 0 5px #0A3ED2;
}

.Noti-Body::-webkit-scrollbar-thumb{
    background-color: #5C0D0D;
    border-radius: 6px;
    transition: backgroud 0.3s ease;
}

.Noti-Body h3{
    color: #FFFFFF;
    background-color: #5C0D0D;
    width: 80%;
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 18px;
    word-wrap: break-word;
    transition: 0.5s;
    width: 90%;
}

.cards:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.card-header{
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
}

.card-name{
    white-space: wrap;
}

.cards p{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}
.Noti-Button{
    display: flex;
    justify-content: end;
}
.Noti button{
    display: flex;
    height: 40px;
    transition: 0.5s;
    background: transparent;
    margin: 10px;
    border-style: none;
    cursor: pointer;
    color: #FFFFFF;
}

.Noti svg{
    width: 38px;
    height: 38px;
}

@media (width < 1870px) {
    .principal{
        margin-top: 14px;
        gap: 18px;
    }
    .Access{
        gap: 35px;
    }
    .Access-div{
        gap: 22px;
    }
    .Atajos{
        height: 304px;
        width: 540px;
    }
    .Atajos svg{
        width: 80px;
        height: 80px;
    }
    .Atajos h4{
        font-size: 20px;
    }
    .Atajos button{
        height: 56px;
        width: 242px;
        font-size: 23px;
    }
    .Events{
        height: 308px;
    }
    .head-Events{
        height: 72px;
    }
    .head-Events h2{
        font-size: 20px;
    }
    .Events-Body{
        height: 302px;
    }
    .Noti{
        height: 647px;
        width: 510px;
    }
    .Noti-Body{
        height: 523px;
    }
    .head-noti h2{
        font-size: 28px;
    }
    .card-header{
        font-size: 14px;
        padding-right: 18px;
        padding-left: 18px;
    }
    .cards p{
        font-size: 16px;
    }
    .Noti svg{
        width: 35px;
        height: 35px;
    }
    .home h2{
        font-size: 27px;
        margin-top: 6px;
    }
    .home svg{
        width: 25px;
        height: 25px;
    }    
}

@media (width < 1720px) {
    .principal{
        margin-top: 13px;
        gap: 16px;
    }
    .Access{
        gap: 30px;
    }
    .Access-div{
        gap: 19px;
    }
    .Atajos{
        height: 274px;
        width: 475px;
    }
    .Atajos svg{
        width: 70px;
        height: 70px;
    }
    .Atajos h4{
        font-size: 17px;
    }
    .Atajos button{
        height: 46px;
        width: 197px;
        font-size: 20px;
    }
    .Events{
        height: 283px;
    }
    .head-Events{
        height: 67px;
    }
    .head-Events h2{
        font-size: 20px;
    }
    .Events-Body{
        height: 277px;
    }
    .Noti{
        height: 587px;
        width: 465px;
    }
    .head-noti{
        height: 67px;
    }
    .head-noti h2{
        font-size: 25px;
    }
    .Noti-Body{
        height: 455px;
    }
    .card-header{
        font-size: 16px;
        padding-right: 16px;
        padding-left: 16px;
    }
    .cards p{
        font-size: 14px;     
    }      
    .Noti svg{
        width: 32px;
        height: 32px;
    }
    .home h2{
        font-size: 25px;
        margin-top: 5px;
    }
    .home svg{
        width: 23px;
        height: 23px;
    }
}

@media (width < 1530px) {
    .principal{
        margin-top: 12px;
        gap: 14px;
    }
    .Access{
        gap: 25px;
    }
    .Access-div{
        gap: 16px;
    }
    .Atajos{
        height: 253px;
        width: 420px;
    }
    .Atajos svg{
        width: 65px;
        height: 65px;
    }
    .Atajos h4{
        font-size: 18px;
    }
    .Atajos button{
        height: 40px;
        width: 152px;
        font-size: 17px;
    }
    .Events{
        height: 253px;
    }
    .head-Events{
        height: 62px;
    }
    .head-Events h2{
        font-size: 20px;
    }
    .Events-Body{
        height: 247px;
    }
    .Noti{
        height: 530px;
        width: 420px;
    }
    .head-noti{
        height: 62px;
    }
    .head-noti h2{
        font-size: 22px;
    }
    .Noti-Body{
        height: 395px;
    }
    .card-header{
        font-size: 14px;
        padding-right: 14px;
        padding-left: 14px;
    }
    .cards p{
        font-size: 12px;
    }
    .Noti svg{
        width: 29px;
        height: 29px;
    }
    .home h2{
        font-size: 23px;
        margin-top: 4px;
    }
    .home svg{
        width: 21px;
        height: 21px;
    }
}

@media (width < 1380px) {
    .principal{
        margin-top: 11px;
        gap: 12px;
    }
    .Access{
        gap: 20px;
    }
    .Access-div{
        gap: 13px;
    }
    .Atajos{
        height: 234px;
        width: 385px;
    }
    .Atajos svg{
        width: 55px;
        height: 55px;
    }
    .Atajos h4{
        font-size: 20px;
    }
    .Atajos button{
        height: 41px;
        width: 142px;
        font-size: 16px;
        border-width: 2px;
    }
    .Events{
        height: 234px;
    }
    .head-Events{
        height: 57px;
    }
    .head-Events h2{
        font-size: 18px;
    }
    .Events-Body{
        height: 190px;
    }
    .Noti{
        height: 488px;
        width: 360px;
    }
    .Noti-Body{
        height: 368px;
    }
    .head-noti{
        height: 57px;
    }
    .head-noti h2{
        font-size: 20px;
    }
    .card-header{
        font-size: 12px;
        padding-right: 12px;
        padding-left: 12px;
    }
    .cards p{
        font-size: 10px;
    }    
    .Noti svg{
        width: 26px;
        height: 26px;
    }
    .home h2{
        font-size: 21px;
        margin-top: 6px;
    }
    .home svg{
        width: 19px;
        height: 19px;
    }
}

@media (width < 1260px) {
    .principal{
        margin-top: 10px;
        gap: 10px;
    }
    .Access{
        gap: 15px;
    }
    .Access-div{
        gap: 13px;
    }
    .Atajos{
        height: 205px;
        width: 340px;
    }
    .Atajos svg{
        width: 45px;
        height: 45px;
    }
    .Atajos h4{
        font-size: 17px;
    }
    .Atajos button{
        height: 36px;
        width: 120px;
        font-size: 14px;
        border-width: 2px;
    }
    .Events{
        height: 206px;
    }
    .head-Events{
        height: 52px;
    }
    .head-Events h2{
        font-size: 16px;
    }
    .Events-Body{
        height: 277px;
    }
    .Noti{
        height: 425px;
        width: 310px;
    }
    .Noti-Body{
        height: 308px;
    }
    .head-noti{
        height: 52px;
    }
    .head-noti h2{
        font-size: 18px;
    }
    .card-header{
        font-size: 11px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .cards p{
        font-size: 10px;
    }    
    .Noti svg{
        width: 21px;
        height: 21px;
    }
    .home h2{
        font-size: 18px;
        margin-top: 11px;
    }
    .home svg{
        width: 17px;
        height: 17px;
    }
}

@media (width < 1110px) {
    .principal{
        margin-top: 9px;
        gap: 8px;
    }
    .home{
        padding-top: 5px;
    }
    .Access{
        gap: 10px;
    }
    .Access-div{
        gap: 13px;
    }
    .Atajos{
        height: 176px;
        width: 280px;
    }
    .Atajos svg{
        width: 35px;
        height: 35px;
    }
    .Atajos h4{
        font-size: 15px;
    }
    .Atajos button{
        height: 31px;
        width: 105px;
        font-size: 12px;
        border-width: 1px;
    }
    .Events{
        height: 178px;
    }
    .head-Events{
        height: 45px;
    }
    .head-Events h2{
        font-size: 14px;
    }
    .Events-Body{
        height: 90px;
    }
    .Noti{
        height: 365px;
        width: 280px;
    }
    .Noti-Body{
        height: 251px;
    }
    .head-noti{
        height: 47px;
    }
    .head-noti h2{
        font-size: 16px;
    }
    .card-header{
        padding-right: 8px;
        padding-left: 8px;
    }    
    .Noti svg{
        width: 19px;
        height: 19px;
    }
    .home h2{
        font-size: 16px;
        margin-top: 8px;
    }
    .home svg{
        width: 15px;
        height: 15px;
    }
}

@media (width < 960px) {
    .principal{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .Noti{
        height: 345px;
        width: 100%;
    }
    .Noti-Body{
        height: 241px;
    }
    .head-noti{
        height: 47px;
    }
    .Events{
        height: 345px;
    }
    .head-Events{
        height: 47px;
    }
    .Events-Body{
        height: 241px;
    }
    .card-header{
        font-size: 14px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .cards p{
        font-size: 12px;
    }
    .Atajos{
        width: 50%;
    }
}

@media (width < 620px) {
    .card-header{
        font-size: 12px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .cards p{
        font-size: 10px;
    }
    .Access-div{
        flex-direction: column;
    }
    .Atajos{
        width: 100%;
    } 
}

@media (width < 375px) {
    .cards{
        padding: 20px 10px 10px 10px;
    }
    .card-header{
        font-size: 10px;
        padding-right: 8px;
        padding-left: 8px;
    }
    .cards p{
        font-size: 9px;
    }
    .principal{
        padding: 0px;
    }
}