.home{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 50px;
    padding-top: 10px;
    color: #6D6D6D;
}

.home h2{
    margin-top: 7px;
    font-size: 30px;
    pointer-events: none;
}

.principal{
    display: flex;
    flex-direction: row;
    margin: 45px;
    margin-top: 15px;
    justify-content: space-between;
}

.Access{
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.Access-div{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.Atajos{
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    height: 324px;
    width: 590px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    gap: 15px;
}

.Atajos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Atajos button{
    height: 66px;
    width: 287px;
    border-radius: 80px;
    background-color: unset;
    border-width: 3px;
    border-color: #FFFFFF;
    border-style: solid;
    color: #FFFFFF;
    font-size: 26px;
}

.Noti{
    height: 688px;
    width: 540px;
    border-radius: 18px;
    background-color: rgba(10, 62, 210, 0.35);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.head-noti{
    background-color: #5C0D0D;
    display: flex;
    color: #FFFFFF;
    height: 72px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.Noti-Body{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    overflow-y: auto;
    height: 548px;
    width: 540px;
}

.Noti-Body::-webkit-scrollbar{
    width: 6px;
}

.Noti-Body::-webkit-scrollbar-track{
    background: transparent;
    box-shadow: inset 0 0 5px #0A3ED2;
}

.Noti-Body::-webkit-scrollbar-thumb{
    background-color: #5C0D0D;
    border-radius: 6px;
    transition: backgroud 0.3s ease;
}

.cards{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 18px;
    word-wrap: break-word;
}

.card-header{
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards p{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
}
.Noti-Button{
    display: flex;
    justify-content: end;
}
.Noti button{
    display: flex;
    height: 40px;
    transition: 0.5s;
    background: transparent;
    margin: 10px;
    border-style: none;
    cursor: pointer;
    color: #FFFFFF;
}
