main{
    padding: 80px;
    padding-top: 10px;
}

.home{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #6D6D6D;
}

.home svg{
    width: 30px;
    height: 30px;
    margin-bottom: 8px;
}

.home h2{
    font-size: 30px;
}

.Principal{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

.Busqueda-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.Busqueda-center input{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    border-radius: 30px;
    background-color: #F4F4F4;
    border-style: solid;
    font-size: 210%;
    border-width: 2px;
    border-color: #7B7B7B;
}

.Btn_Especialidades{
    border-radius: 30px;
    background-color: #F4F4F4;
    font-size: 210%;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: #7B7B7B;
    color: rgb(0, 0, 0, 0.75);
}

.Menu_Especialidades{
    width: 100%;
    background-color: #565E64;
}

.Item_Especialidades{
    border-style: none;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #565E64;
    font-size: 170%;
    color: #F4F4F4;
}

.Item_Especialidades:hover{
    background-color: #F4F4F4;
    color: #565E64;
}

.btn-Reset{
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.btn-Reset svg{
    width: 60px;
    height: 60px;
    color: #565E64;
}
.btn-Reset:hover{
    transform: rotate(-360deg);
    transition: 0.5s ease;
}
.Tabla_Estudiantes{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    background-color: #F4F4F4;
    border-radius: 30px;
    padding: 20px;
}
.hr_divisor{
    border: 1px solid rgb(95, 95, 95);
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.Card-Student{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
}

.Card-Student hr{
    border: 1px solid black;
    height: 110px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.Card-Student img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.Card-Student h2{
    font-size: 250%;
    width: 35%;
}

.Card-Student h3{
    font-size: 250%;
    width: 30%;
    text-align: center;
}

.Card-Student p{
    display: none;
}
.Card-Student button{
    background-color: transparent;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
}
.Card-Student svg{
    width: 60px;
    height: 60px;
}
.btn-More{
    background-color: transparent;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #565E64;
    border-radius: 100px;
    padding: 10px;
}
.btn-More:hover{
    background-color: #565E64;
    color: white;
}
.Dialog_Profile_Estudiante{
    background-color: #41485c;
    border-style: none;
    border-radius: 50px;
}
.dialogForm_Estudiante{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.dialogForm_Estudiante div{
    background-color: #8F97AD;
    padding: 30px;
}
.dropdown-center p{
    display: none;
}
.Form_Estudiante{
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Form_Estudiante div{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
.Form_Estudiante input{
    background-color: #D9D9D9;
    border-style: none;
    width: 100%;
    font-size: 20px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
}
.Form_Estudiante label{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: #303336;
}
.btn_Proyecto{
    background-color: #D9D9D9;
    color: #202020;
    border-style: none;
    border-radius: 0px;
    width: 100%;
    font-size: 20px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
}
.Alert_Dialog_Student_Confirm_btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 3%;
    gap: 3%;
}
.Alert_Dialog_Student_Confirm_btns button{
    border-style: none;
    width: 100%;
    padding: 2px;
    color: beige;
    border-radius: 40px;
    transition: 0.3s;
}
.Alert_Dialog_Student_Confirm_btns button:hover{
    transition: 0.3s;
    box-shadow: 3px 4px 10px #202020;
}
.Alert_Dialog_Student_Confirm_btns svg{
    width: 5%;
    height: 5%;
}
.Menu_Proyectos{
    width: 100%;
    background-color: #565E64;
    height: 300px;
    overflow-y: auto;
}
.Menu_Proyectos::-webkit-scrollbar{
    width: 6px;
}
.Menu_Proyectos::-webkit-scrollbar-track{
    background: transparent;
    box-shadow: inset 0 0 5px #6b757c;
}

.Menu_Proyectos::-webkit-scrollbar-thumb{
    background-color: #34393d;
    border-radius: 6px;
    transition: backgroud 0.3s ease;
}
.Article_Profile{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 100%;
}
.Article_Profile img{
    height: 200px;
    width: 200px;
}
.Article_Profile button{
    width: 100%;
    padding: 10px;
    border-style: none;
    font-size: 15px;
    margin-top: 10px;
}
.btn_Actualizar_Proyecto{
    background-color: #db8f1d;
    color: #8a5300;
}
.btn_Actualizar_Proyecto_hover{
    background-color: #e78d04;
    color: #4b330e;
}
.btn_Horas_Sociales{
    background-color: #8db2cf;
    color: #233568;
}

@media (width < 1710px) {
    main{
        padding: 70px;
        padding-top: 10px;
    }
    .Tabla_Estudiantes{
        gap: 25px;
        margin-top: 25px;
        padding: 18px;
    }
    .Card-Student h2{
        font-size: 200%;
    }
    .Card-Student h3{
        font-size: 200%;
    }
    .Card-Student button{
        margin-left: 40px;
    }
    .Card-Student svg{
        width: 50px;
        height: 50px;
    }
    .Card-Student hr{
        height: 100px;
    }
    .Card-Student img{
        width: 90px;
        height: 90px;
    }
    .Busqueda-center input{
        font-size: 180%;
    }
    .Btn_Especialidades{
        font-size: 180%;
    }
    .Item_Especialidades{
        font-size: 150%;
    }
    .btn-Reset svg{
        width: 50px;
        height: 50px;
    }
    .btn-More{
        padding: 9px;
    }
}

@media (width < 1520px) {
    main{
        padding: 60px;
        padding-top: 10px;
    }
    .home svg{
        width: 20px;
        height: 20px;
        margin-bottom: 8px;
    }
    .home h2{
        font-size: 20px;
    }
    .Busqueda-center{
        gap: 15px;
    }
    .Tabla_Estudiantes{
        gap: 20px;
        padding: 16px;
    }
    .Card-Student{
        padding-left: 40px;
        padding-right: 40px;
    }
    .Card-Student h2{
        font-size: 180%;
    }
    .Card-Student h3{
        font-size: 180%;
    }
    .Card-Student button{
        margin-left: 20px;
    }
    .Card-Student svg{
        width: 40px;
        height: 40px;
    }
    .Card-Student img{
        width: 80px;
        height: 80px;
    }
    .btn-Reset svg{
        width: 40px;
        height: 40px;
    }
    .btn-More{
        padding: 8px;
    }
}

@media (width < 1370px) {
    main{
        padding: 50px;
        padding-top: 10px;
    }
    .Tabla_Estudiantes{
        gap: 15px;
        margin-top: 20px;
        padding: 14px;
    }
    .Card-Student{
        padding-left: 30px;
        padding-right: 30px;
    }
    .Card-Student h2{
        font-size: 160%;
    }
    .Card-Student h3{
        font-size: 160%;
    }
    .Card-Student hr{
        height: 90px;
    }
    .Card-Student button{
        margin-left: 20px;
    }
    .Card-Student svg{
        width: 40px;
        height: 40px;
    }
    .Card-Student img{
        width: 70px;
        height: 70px;
    }
    .Busqueda-center input{
        font-size: 140%;
    }
    .Btn_Especialidades{
        font-size: 140%;
    }
    .Item_Especialidades{
        font-size: 115%;
    }
    .btn-Reset svg{
        width: 40px;
        height: 40px;
    }
    .btn-More h4{
        font-size: 20px;
    }
    .btn-More{
        padding: 7px;
    }
}

@media (width < 1100px) {
    main{
        padding: 40px;
        padding-top: 10px;
    }
    .Busqueda-center{
        gap: 10px;
    }
    .Tabla_Estudiantes{
        gap: 10px;
        padding: 12px;
    }
    .Card-Student{
        padding-left: 20px;
        padding-right: 20px;
    }
    .Card-Student hr{
        height: 80px;
    }
    .Card-Student h2{
        font-size: 140%;
    }
    .Card-Student h3{
        font-size: 140%;
    }
    .Card-Student button{
        margin-left: 10px;
    }
    .Card-Student svg{
        width: 30px;
        height: 30px;
    }
    .Card-Student img{
        width: 60px;
        height: 60px;
    }
    .Busqueda-center input{
        font-size: 120%;
    }
    .Btn_Especialidades{
        font-size: 120%;
    }
    .Item_Especialidades{
        font-size: 115%;
    }
    .btn-Reset svg{
        width: 40px;
        height: 40px;
    }
    .btn-More{
        padding: 6px;
    }
}
@media (width < 980px) {
    main{
        padding: 30px;
        padding-top: 20px;
    }
    .Tabla_Estudiantes{
        gap: 10px;
        padding: 12px;
    }
    .Card-Student{
        padding-left: 25px;
        padding-right: 25px;
    }
    .Card-Student h2{
        font-size: 130%;
    }
    .Card-Student hr{
        height: 70px;
    }
    .Card-Student h3{
        font-size: 130%;
    }
    .Card-Student button{
        margin-left: 10px;
    }
    .Card-Student svg{
        width: 35px;
        height: 35px;
    }
    .Card-Student img{
        width: 60px;
        height: 60px;
        margin-right: 20px;
    }
    .Busqueda-center input{
        font-size: 110%;
        padding: 8px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .Btn_Especialidades{
        font-size: 110%;
    }
    .Item_Especialidades{
        font-size: 105%;
    }
    .btn-Reset svg{
        width: 35px;
        height: 35px;
    }
    .btn-More{
        padding: 5px;
    }
}

@media (width < 790px) {
    .Tabla_Estudiantes{
        padding: 10px;
    }
    .Card-Student{
        padding-left: 15px;
        padding-right: 15px;
    }
    .Card-Student h2{
        font-size: 100%;
    }
    .Card-Student h3{
        font-size: 90%;
    }
    .Card-Student hr{
        height: 55px;
    }
    .Card-Student svg{
        width: 25px;
        height: 25px;
    }
    .Card-Student img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .Busqueda-center input{
        font-size: 90%;
    }
    .Btn_Especialidades{
        font-size: 100%;
    }
    .Item_Especialidades{
        font-size: 95%;
    }
    .btn-Reset svg{
        width: 30px;
        height: 30px;
    }
    .btn-More{
        padding: 4px;
    }
    .btn-More h4{
        font-size: 15px;
    }
}
@media (width < 650px) {
    .home svg{
        width: 15px;
        height: 15px;
        margin-bottom: 9px;
    }
    .home h2{
        font-size: 15px;
    }
    .Tabla_Estudiantes{
        gap: 10px;
        padding: 12px;
        padding-top: 15px;
    }
    .Card-Student{
        padding-left: 25px;
        padding-right: 25px;
    }
    .Card-Student h2{
        font-size: 100%;
    }
    .Card-Student h3{
        font-size: 90%;
    }
    .Card-Student hr{
        height: 60px;
    }
    .Card-Student button{
        margin-left: 10px;
    }
    .Card-Student svg{
        width: 25px;
        height: 25px;
    }
    .Card-Student img{
        width: 55px;
        height: 55px;
    }
    .Busqueda-center{
        gap: 8px;
    }
    .Busqueda-center input{
        padding: 6px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .Item_Especialidades{
        font-size: 90%;
    }
    .btn-Reset svg{
        width: 25px;
        height: 25px;
    }
    .btn-More{
        padding: 3px;
    }
}
@media (width < 560px) {
    .Tabla_Estudiantes{
        gap: 10px;
        padding: 8px;
        padding-top: 15px;
    }
    .Card-Student{
        padding-left: 20px;
        padding-right: 20px;
    }
    .Card-Student h2{
        font-size: 85%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .Card-Student h3{
        font-size: 75%;
    }
    .Card-Student hr{
        height: 50px;
    }
    .Card-Student svg{
        width: 20px;
        height: 20px;
    }
    .Card-Student img{
        width: 45px;
        height: 45px;
    }
    .Busqueda-center{
        gap: 6px;
    }
    .Busqueda-center input{
        padding: 4px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 85%;
    }
    .Btn_Especialidades{
        font-size: 90%;
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .Item_Especialidades{
        font-size: 75%;
    }
    .btn-More{
        padding: 2px;
    }
}
@media (width < 470px) {
    .Tabla_Estudiantes{
        padding-top: 15px;
    }
    .Card-Student{
        padding-left: 15px;
        padding-right: 15px;
    }
    .Card-Student h2{
        font-size: 65%;
        margin-left: 6px;
        margin-right: 6px;
    }
    .Card-Student h3{
        font-size: 55%;
    }
    .Card-Student hr{
        height: 40px;
        border: 0.5px solid black;
    }
    .Card-Student svg{
        width: 15px;
        height: 15px;
    }
    .Card-Student img{
        width: 40px;
        height: 40px;
    }
    .Busqueda-center{
        gap: 4px;
    }
    .Busqueda-center input{
        padding: 3px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 75%;
    }
    .Btn_Especialidades{
        font-size: 70%;
        padding: 8px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .Item_Especialidades{
        font-size: 75%;
    }
    .btn-More{
        padding: 2px;
        font-size: 10px;
    }
}
@media (width < 370px) {
    .Alerts{
        font-size: 55%;
    }
    .Tabla_Estudiantes{
        padding-top: 15px;
    }
    .Card-Student{
        padding-left: 10px;
        padding-right: 10px;
    }
    .Card-Student h2{
        font-size: 55%;
        margin-left: 6px;
        margin-right: 6px;
    }
    .Card-Student h3{
        font-size: 45%;
    }
    .Card-Student hr{
        height: 35px;
        border: 0.5px solid black;
    }
    .Card-Student svg{
        width: 15px;
        height: 15px;
    }
    .Card-Student img{
        width: 35px;
        height: 35px;
    }
    .Busqueda-center{
        gap: 4px;
    }
    .Busqueda-center input{
        padding: 3px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 65%;
    }
    .Btn_Especialidades{
        font-size: 60%;
        padding: 6px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .Item_Especialidades{
        font-size: 60%;
    }
    .btn-Reset svg{
        width: 15px;
        height: 15px;
    }
    .btn-More{
        padding: 1px;
        font-size: 5px;
    }
}