.Barra-Navegacion{
    background-color: #000000;
}

.Barra-Navegacion ul{
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
}

.Barra-Navegacion ul li{
    list-style: none;
    align-items: center;
    
}

.Logo{
    height: 45px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Logo-menu{
    height: 50px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.Logo-person{
    height: 38px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    cursor: pointer;
}

body{
    background-color: #CDD4E8;
    font-family: Jomolhari;
}

@media (width < 1530px) {
    .Logo{
        height: 40px;
    }
    .Logo-menu{
        height: 45px;
    }
    .Logo-person{
        height: 33px;
    }
}

@media (width < 1380px) {
    .Logo{
        height: 35px;
    }
    .Logo-menu{
        height: 40px;
    }
    .Logo-person{
        height: 28px;
    }
}