.Barra-Navegacion{
    background-color: #000000;
    padding-bottom: 0.8%;
}

.Barra-Navegacion ul{
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
}

.Barra-Navegacion ul li{
    list-style: none;
    align-items: center;
}

.Logo{
    height: 45px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Menu-center{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.Unactive-Btn{
    color: white;
    font-size: 160%;
    user-select: none;
    text-decoration: none;
    transition: 0.3s;
}

.Active-Btn{
    text-decoration: none;
    background-color: #9EA3BF;
    font-size: 160%;
    user-select: none;
    color: white;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    margin-right: -2%;
    margin-bottom: -2.5%;
    transition: 0.3s;
}

.Menu-center hr{
    border: 1px solid white;
    height: 45px;
    margin: auto;
    margin-left: 10px;
}

.Navbar_Options{
    background-color: #9EA3BF;
    width: 100%;
    height: auto;
    margin-top: -2%;
}

.Navbar_Options ul{
    display: flex;
    flex-direction: row;
    gap: 5%;
    padding: 1%;
    padding-left: 4%;
}
.Navbar_Options li{
    list-style: none;
}

.Navbar_Options button{
    width: 150%;
    height: 100%;
    padding: 4%;
    border-style: none;
    border-radius: 5%;
    background-color: #858aaa;
    color: #3b3e4d;
    font-size: 140%;
}

.Navbar_Options button:hover{
    background-color: #3b3e4d;
    color: #858aaa;
    transition: 0.3s;
}

.Logo-menu{
    height: 50px;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
}

.Logo-person{
    width: 50px;
    height: 50px;
    margin: 5px;
    margin-left: 0px;
    margin-right: 40px;
    color: white;
    cursor: pointer;
    user-select: none;
    border-style: none;
    background-color: transparent;
}

.Profile-content{
    background-color: #CDD4E8;
    padding: 3%;
    border-style: none;
}

.Profile-content main{
    display: flex;
    flex-direction: row;
    background-color: #8F97AD;
    gap: 150px;
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.Profile-content article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Article2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.Div-info{
    background-color: #D9D9D9;
    width: 120%;    
    padding: 2%;
}

.Div-info p{
    color: #616161;
    margin: 0px;
}

.Div-info h1{
    text-align: center;
    margin: 3px 0 0 0;
}

.Div-info h3{
    text-align: center;
    margin: 3px 0 0 0;
}

.Div-rol{
    background-color: #D9D9D9;
    width:fit-content;
    padding: 0 10px 0 10px;
    margin-top: 20px;
}

.Div-rol p{
    color: #616161;
    margin: 0px;
}

.Div-rol h3{
    text-align: center;
    margin: 3px 0 0 0;
}

.Profile-image{
    height: 170px;
    width: 170px;
    border-radius: 100%;
}

.Article2 button{
    background-color: #5C0D0D;
    color: #CDD4E8;
    border-style: none;
    padding: 10%;
    width: 120%;
    border-radius: 40px;
}

.Article2 button{
    background-color: #5C0D0D;
    color: #CDD4E8;
    border-style: none;
    padding: 10%;
    width: 120%;
    border-radius: 40px;
}

.Btn-Close{
    border-style: none;
    background-color: #5C0D0D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-radius: 100%;
    position: fixed;
    left: 2%;
    top: 2%;
}

body{
    background-color: #CDD4E8;
    font-family: Jomolhari;
    user-select: none;
}

@media (width < 1530px) {
    .Logo{
        height: 40px;
    }
    .Logo-menu{
        height: 45px;
    }
    .Unactive-Btn{
        font-size: 140%;
    }
    .Active-Btn{
        font-size: 140%;
    }
    .Navbar_Options button{
        font-size: 120%;
    }
}

@media (width < 1380px) {
    .Logo{
        height: 35px;
    }
    .Logo-menu{
        height: 40px;
    }
    .Unactive-Btn{
        font-size: 120%;
    }
    .Active-Btn{
        font-size: 120%;
    }
    .Navbar_Options button{
        font-size: 100%;
    }
}